@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Apply Poppins font to all elements */
body {
    font-family: 'Poppins', sans-serif;
}

/* Apply smooth scrolling behavior to HTML */
html {
    scroll-behavior: smooth;
}

/* Customize scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222A35;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #575C66;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #626970;
}
